@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins);
  --font-cream-cake: var(--font-cream-cake);

  --color-primary: #591420;
  --color-secondary: #f5ddd2;
  --color-cherry: #a855f7;
  --color-lime: #65a30d;
  --color-coffee: #92400e;
}

@layer utilities {
  .text-stroke-primary {
    -webkit-text-stroke: 2px #591420;
  }

  .text-stroke-secondary {
    -webkit-text-stroke: 2px #f5ddd2;
  }

  .text-stroke-secondary-1 {
    -webkit-text-stroke: 1px #f5ddd2;
  }
}

.underline-effect {
  @apply relative cursor-pointer;
}

.underline-effect::after {
  content: "";
  @apply bg-secondary absolute bottom-0 left-0 h-0.5 w-0 transition-all;
}

.underline-effect:hover::after {
  @apply w-full;
}
